/* Layout
================================================== */

// BASIC LAYOUT STYLING FOR BACKEND DEV

$spacer: 15px; //Don't use $gutter as it's a default Bourbon/Neat variable

@mixin dev-margins-padding {
    padding: $spacer;
    margin: $spacer auto;
}

@mixin dev-containers {
    background: $gray-lightest;
}

/* Container width -- Uncomment if using Bourbon/Neat */
// $container: 1180;
// $max-width: em($container) !global;

/* Breakpoints -- Uncomment if using Bourbon/Neat */
// $container: new-breakpoint(min-width em($container));
// $medium: new-breakpoint(min-width em(800));
// $small: new-breakpoint(min-width em(400));

/* Breakpoints -- Comment out if using Bourbon/Neat */
@mixin breakpoint($point) {
  @if $point = $large {
    @media (min-width: 1140px) { @content; }
  }
  @if $point = $medium {
    @media (min-width: 800px) { @content; }
  }
  @if $point = $small {
    @media (min-width: 400px) { @content; }
  }
}

// Basic "Rowed" Layout

section {
  &.row {
    padding: 85px 0;
    &:nth-child(even) {
      @include dev-containers;
    }
  }
}

.container {
  @include outer-container;
}