/* Base
================================================== */

html {
   font-size: 16px;
}

body,
button,
input,
select,
textarea, 
small {
   font-family: $body-font;
   line-height: $line-height;
   color: $color-body;
   font-weight: normal;
   font-style: normal; 
   font-size-adjust: auto;
}

a {
   color: $link-color;
   text-decoration: none;
}