/* Base
================================================== */

html {
   font-size: 16px;
   @include font-regular;
}

body,
button,
input,
select,
textarea, 
small {
   font-family: $body-font;
   line-height: $line-height;
   color: $color-body;
   font-weight: normal;
   font-style: normal; 
   font-size-adjust: auto;
}

a {
   color: $link-color;
   text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul, figure {
  margin: 0;
  padding: 0;
}

.ie9 img[src*=".svg"] {
  width: 100%; 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}

/* ----------------------------------------------- WYSIWYG Images */

img[class*="wp-image"] {
  @include breakpoint($medium){
    max-width: none;
    width: auto;
  }
}
.wysiwyg-img {
    display: block;
}
.alignright {
  float: none;
  padding: 1em;
  @include breakpoint($medium){
    padding: 1em 1em 1em 2em;
    float: right;
  }
  &.size-medium {
    margin-right: 0;
    @include breakpoint($medium){
      margin-right: -150px;
    }
  }
}
.alignleft {
  float: none;
  padding: 1em;
  @include breakpoint($medium){
    float: left;
    padding: 1em 2em 1em 1em;
  }
}

.clear {
  clear: both;
}