/* Buttons
================================================== */

$btn-small: .5em 1em;
$btn-regular: .5em 1em;
$btn-large: .5em 1em;

.btn {
  color: #fff;
  @include font-bold;
  display: inline-block;
  background-color: $cyan;
  transition: background 0.3s ease;
  &:hover {
    background-color: darken($cyan, 3%);
  }
  &.btn-small {
    font-size: 14px;
    padding: $btn-small;
  }
  &.btn-regular {
    font-size: 16px;
    padding: $btn-regular;
  }
  &.btn-large {
    font-size: 24px;
    padding: $btn-large;
  }
}