/* Layout
================================================== */

// BASIC LAYOUT STYLING FOR BACKEND DEV

$spacer: 15px; //Don't use $gutter as it's a default Bourbon/Neat variable
$rowSpacing: 2em;
$contenBtm: 5em;

@mixin dev-margins-padding {
    padding: $spacer;
    margin: $spacer auto;
}

@mixin dev-containers {
    background: $gray-lightest;
}

/* Container width -- Uncomment if using Bourbon/Neat */
// $container: 1180;
// $max-width: em($container) !global;

/* Breakpoints -- Uncomment if using Bourbon/Neat */
// $container: new-breakpoint(min-width em($container));
// $medium: new-breakpoint(min-width em(800));
// $small: new-breakpoint(min-width em(400));

// Resizable Boxes -- Uncomment if using Bourbon/Neat

// %fitBoxes--4up {
//   padding-top: 100%;
//   @include omega-reset(2n);
//   @include span-columns(12);
//   @include media($small_up) {
//     padding-top: 50%;
//     @include omega-reset(3n);
//     @include span-columns(6);
//     @include omega(2n);
//   }
//   @include media($medium_up) {
//     padding-top: 35%;
//     @include omega-reset(2n);
//     @include span-columns(4);
//     @include omega(3n);
//   }
//   @include media($large_up) {
//     padding-top: 25%;
//     @include omega-reset(3n);
//     @include span-columns(3);
//     @include omega(4n);
//   }
// }

// %fitBoxes--3up {
//   padding-top: 100%;
//   @include omega-reset(2n);
//   @include span-columns(12);
//   @include media($small_up) {
//     padding-top: 50%;
//     @include omega-reset(3n);
//     @include span-columns(6);
//     @include omega(2n);
//   }
//   @include media($medium_up) {
//     padding-top: 35%;
//     @include omega-reset(2n);
//     @include span-columns(4);
//     @include omega(3n);
//   }
// }

// %fitBoxes--1row-3up {
//   padding-top: 100%;
//   @include omega-reset(2n);
//   @include span-columns(12);
//   @include media($small_up) {
//     padding-top: 70%;
//     @include omega-reset(3n);
//     @include span-columns(12);
//     @include omega(2n);
//   }
//   @include media($medium_up) {
//     padding-top: 35%;
//     @include omega-reset(2n);
//     @include span-columns(4);
//     @include omega(3n);
//   }
// }

// Basic "Rowed" Layout

%rowSpacing {
   padding: $rowSpacing 0;
}

%rowMargin {
   margin: $rowSpacing 0;
}

$containerPadding: 1.5em;

.container {
   padding: 0 $containerPadding;
   // @include outer-container; /* If using Bourbon/Neat */
   // @include media($container) {
   //    padding: 0;
   // }
}
