
$color-highlight-bg: $gray-lighter;
$color-highlight: $white;

::-moz-selection {
   background: $color-highlight-bg;
   color: $color-highlight;
   text-shadow: none;
}

::selection {
   background: $color-highlight-bg;
   color: $color-highlight;
   text-shadow: none;
}

body {
   color: $si-gray-dark;
   @include sans-normal;
   -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
   @include serif-bold;
   margin: 0;
}

p, li {
   margin: 0;
}
